{% extends "omr/header.html" %}
{% load static %}

{% block title %} 
<title>HOME</title>
{% endblock %}

{% block body %}
<body class="home">
	{% if user.is_authenticated %}
		<p>
			<label>&nbsp;</label>
			WELCOME, {{ user.username }}<br>
			<label>&nbsp;</label>
			<a href="{% url 'logout' %}">LOG OUT</a>
		</p>
		{# Container #}
		<div id="container">
			{# Content #}
			<div id="content" class="flex">
				<div id="content-main">
					<div class="new_task">
						<a href="{% url 'omr:upload_files' %}">
							<input type="submit" value="New Task">
						</a>
					</div>
					<div class="module filtered" id="changelist">
						<form id="changelist-form" method="post">
							{% csrf_token %}
							<div class="results">
								<table id="result_list">
									<thead>
										<tr>
											<th scope="col" class="no">
												<div class="text">
													<p>No</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="course_code">
												<div class="text">
													<p>Course Code</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="course_name">
												<div class="text">
													<p>Course Name</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="date">
												<div class="text">
													<p>Date</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="status">
												<div class="text">
													<p>Status</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="remarks">
												<div class="text">
													<p>Remarks</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="excel_report">
												<div class="text">
													<p>Excel Report</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="delete">
												<div class="text">
													<p>Delete</p>
												</div>
												<div class="clear"></div>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for i in data %}
										<tr class="row">
											<th>
												<p>{{ i.number }}</p>
											</th>
											<th>
												<p>{{ i.course_code }}</p>
											</th>
											<th>
												<p>{{ i.course_name }}</p>
											</th>
											<th>
												<p>{{ i.date }}</p>
											</th>
											<th>
												<p>{{ i.status }}</p>
											</th>
											<th>
												<p>{{ i.remarks }}</p>
											</th>
											<th>
												{% if i.status == "COMPLETE" %}
												<div class="download">
													<input type="submit" value="Download">
												</div>
												{% endif %}
											</th>
											<th>
												<a class="confirm-delete" href="{% url 'omr:delete_tasks' i.number %}">
													<img src="{% static 'omr/media/delete.png' %}" alt="delete" style="display:block; margin:auto;">
												</a>
											</th>
										</tr>

										{% if i.status == "PENDING" %}
											<script type="text/javascript">
												window.setTimeout(function () {
													location.href = "{% url 'omr:home' %}";
												}, 30000);
											</script>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
				<br class="clear">
			</div>
			{# END Content #}
		</div>
		{# END Container #}
	{% else %}
		{# Container #}
		<div id="container">
			{# Header #}
			<div id="header">
				<div id="branding">
					<h1 id="site-name">
						UNAUTHORIZED ACCESS
					</h1>
				</div>
			</div>
			{# END Header #}
			{# Content #}
			<div id="content" class="colM">
				<div id="content-main">
					<p>You are not logged in !!!</p>
					<a href="{% url 'login'%}">Click here to log in.</a>
				</div>
				<br class="clear">
			</div>
			{# END Content #}
		</div>
		{# END Container #}
	{% endif %}
</body>
{% endblock %}