{% extends "omr/header.html" %}
{% load static %}

{% block title %} 
<title>HOME</title>
{% endblock %}

{% block body %}
<body class="home">
	{% if user.is_authenticated %}
		<div class="breadcrumbs">
			<div class="navigation">
				<p>
					<label>&nbsp;</label>
					<a href="{% url 'omr:home' %}">HOME</a>
				</p>
			</div>
			<div class="user">
				<p>
					<label>&nbsp;</label>
					You are logged in as {{ user.username }}. ( <a href="{% url 'logout' %}">LOG OUT</a> )
				</p>
			</div>
		</div>
		{# Container #}
		<div id="container">
			{# Content #}
			<div id="content" class="flex">
				<div id="content-main">
					<div class="new_task">
						<a href="{% url 'omr:upload_files' %}">
							<input type="submit" value="New Task">
						</a>
					</div>
					<div class="module filtered" id="changelist">
						<form id="changelist-form" method="post">
							{% csrf_token %}
							<div class="results">
								<table id="result_list">
									<thead>
										<tr>
											<th scope="col" class="no">
												<div class="text">
													<p>No</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="course_code">
												<div class="text">
													<p>Course Code</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="course_name">
												<div class="text">
													<p>Course Name</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="date">
												<div class="text">
													<p>Date</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="status">
												<div class="text">
													<p>Status</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="result">
												<div class="text">
													<p>Result</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="excel_report">
												<div class="text">
													<p>Excel Report</p>
												</div>
												<div class="clear"></div>
											</th>
											<th scope="col" class="delete">
												<div class="text">
													<p>Delete</p>
												</div>
												<div class="clear"></div>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for i in data %}
										<tr class="row">
											<th>
												<p>{{ i.number }}</p>
											</th>
											<th>
												<p>{{ i.course_code }}</p>
											</th>
											<th>
												<p>{{ i.course_name }}</p>
											</th>
											<th>
												<p>{{ i.date }}</p>
											</th>
											<th>
												<p>{{ i.status }}</p>
											</th>
											<th>
												{% if i.status == "COMPLETE" %}
												<div class="view">
													<a href="{% url 'omr:view_results' i.id %}" onclick="return popitup('{% url 'omr:view_results' i.id %}')">
														<input type="button" value="View">
													</a>
												</div>
												{% endif %}
											</th>
											<th>
												{% if i.status == "COMPLETE" %}
												<div class="download">
													<a href="{% url 'omr:download_excel' i.id %}">
														<input type="button" value="Download">
													</a>
												</div>
												{% endif %}
											</th>
											<th>
												<a href="{% url 'omr:delete_tasks' i.number %}">
													<img src="{% static 'omr/media/delete.png' %}" alt="delete" style="display:block; margin:auto;">
												</a>
											</th>
										</tr>
										{% block javascript %}
										<script type="text/javascript">
											{% if i.status == "PENDING" %}
												window.setTimeout(function () {
													location.href = "{% url 'omr:home' %}";
												}, 30000);
											{% endif %}
										</script>
										<script src="http://malsup.github.com/jquery.form.js"></script>
										{% endblock %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
				<br class="clear">
			</div>
			{# END Content #}
		</div>
		{# END Container #}
	{% else %}
		{# Container #}
		<div id="container2">
			{# Header #}
			<div id="header">
				<div id="branding">
					<h1 id="site-name">
						UNAUTHORIZED ACCESS
					</h1>
				</div>
			</div>
			{# END Header #}
			{# Content #}
			<div id="content" class="colM">
				<div id="content-main">
					<p>You are not logged in !!!</p>
					<a href="{% url 'login'%}">Click here to log in.</a>
				</div>
				<br class="clear">
			</div>
			{# END Content #}
		</div>
		{# END Container #}
	{% endif %}
</body>
{% endblock %}