{% extends "omr/header.html" %}

{% block title %} 
<title>SIGN UP</title>
{% endblock %}

{% block body %}
<body class="signup">
	{# Container #}
	<div id="container">
		{# Header #}
		<div id="header">
			<div id="branding">
				<h1 id="site-name">
					SIGN UP
				</h1>
			</div>
		</div>
		{# END Header #}
		{# Content #}
		<div id="content" class="colM">
			<div id="content-main">
				<form method="post" id="signup-form">
					{% csrf_token %}
					{{ form.as_p }}
					<div class="submit-row">
						<label>&nbsp;</label>
						<input type="submit" value="Sign up">
					</div>
				</form>
				<div class="message-row">
					<p>
						<label>&nbsp;</label>
						Already have an account?
						<a href="{% url 'login' %}">Login here</a>
					</p>
				</div>
			</div>
			<br class="clear">
		</div>
		{# END Content #}
	</div>
	{# END Container #}
</body>
{% endblock %}